@font-face {
    font-family: PT Sans;
     src: url("assets\fonts\PTSans-Regular.ttf");
   }

* {
    box-sizing: border-box;
  }

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

body {
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}